{% extends 'app/dummy.html' %}

{% block title %}
    <title>SchoolList</title>
{% endblock %}

{% block body_block %}
    <center>
        <h1>Are You Sure Want to Delete the {{schoolobject.sname}} School</h1>

        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, Delete"><br><br>
        </form>

        <a href="{% url 'SchoolList' %}" class="btn btn-danger">Take Back to List</a><br><br>
        <a href="{% url 'SchoolDetail' pk=schoolobject.pk %}" class="btn btn-danger">Take Back to Detail</a>
  
    </center>
{% endblock %}